@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@layer utilities {
	.shadow-glow-purple {
		@apply shadow-[0px_0px_10px_3px_rgb(198,210,255)]
        		shadow-indigo-400/50 
				border-indigo-600/50 
				border-1
	}
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	--text-color: #d1d1d1;
	--background-color: #000011;	/* extremely dark blue */
	--background-color: #0a0a0a;	/* rich black*/
	--font-style: "arial";

	--text-color: #d1d1d1;	/* greyish white */
	--background-color: #0a0a0a;	/* rich black*/

	color: var(--text-color);
	background-color: var(--background-color);
	font-family: var(--font-style);

	background-image: linear-gradient(to bottom right, var(--background-color), rgb(19, 26, 45), rgb(22, 22, 30));

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: "Kumbh Sans", sans-serif;
	/* font-family: "Figtree", sans-serif; */
	/* font-family: "Poppins", sans-serif; */
	/* font-family: "Rubik", sans-serif; */
	font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

	scroll-behavior: smooth;
}

* {
	outline: none !important;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes shake {
	0%{
		transform: translateX(0%);
	}
	25%{
		transform: translate(-10%);
	}
	75%{
		transform: translate(10%);
	}
	100%{
		transform: translate(0%);
	}
}

@keyframes loader-clap {
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

@keyframes loader-bounce {
	0%{
		transform: translateY(0em);
	}
	50%{
		transform: translateY(0.5rem);
	}
	100%{
		transform: translateY(0rem);
	}
}

.border-05 {
	border-width: 0.5px;
}

.color-test{
	color: rgb(198, 210, 255);
	color: rgb(55, 42, 172);
}

.custom-scroll::-webkit-scrollbar-track {
	background: none !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* or make this transparent too */
  border-radius: calc(1px * infinity);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); 
}

.custom-scroll::-webkit-scrollbar-track-piece:end {
  margin-right: 4px;
  margin-bottom: 4px; 
}

.custom-scroll::-webkit-scrollbar-track-piece:start {
  margin-top: 4px; 
  margin-left: 4px;
}

.custom-scroll {
  overflow-y: auto;
}